* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
    #header-desktop {
        height: 120px;
        background-color: white;
        border-bottom: 11px solid darkblue;
    }
    
    #brand-bg {
        background-color: white;
        height: 80px;
        width: 7.5%;
        position: fixed;
        top: 34px;
        right: 0;
        left: 100px;
        bottom: 0;
        border: 1px solid white;
    }
    
    #brand {
        height: 80px;
        width: 80px;
        position: fixed;
        top: 23px;
        right: 0;
        left: 100px;
        bottom: 0;
    }
    
    .siteTitle {
        display: block;
        position: fixed;
        width: 20%;
        border-right: 1px solid blue;
        top: 52px;
        left: 230px;
    }
    
    #platform, #researchpro {
        display: flex;
    }
    
    #mainNav {
        display: flex;
        position: fixed;
        list-style: none;
        top: 62px;
        left: 400px;
    }
    
    .navlinks {
        padding: 20px;
        padding-left: 4em; 
        text-indent: -2em;
    }
    
    .link {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        color: black;
    }
    
    #header-mobile {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    #header-desktop {
        height: 120px;
        background-color: white;
        border-bottom: 13px solid darkblue;
    }
    
    #brand-bg {
        background-color: white;
        height: 80px;
        width: 7.5%;
        position: fixed;
        top: 34px;
        right: 0;
        left: 180px;
        bottom: 0;
        border: 1px solid white;
    }
    
    #brand {
        height: 80px;
        width: 80px;
        position: fixed;
        top: 23px;
        right: 0;
        left: 195px;
        bottom: 0;
    }
    
    .siteTitle {
        display: block;
        position: fixed;
        width: 15%;
        border-right: 1px solid blue;
        top: 52px;
        left: 300px;
    }
    
    #platform, #researchpro {
        display: flex;
    }
    
    #mainNav {
        display: flex;
        position: fixed;
        list-style: none;
        top: 62px;
        left: 471px;
    }
    
    .navlinks {
        padding: 20px;
        padding-left: 6em; 
        text-indent: -2em;
    }
    
    .link {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        color: black;
    }
    
    #header-mobile {
        display: none;
    }
}

@media only screen and (min-width: 2560px) {
    #header-desktop {
        height: 120px;
        background-color: white;
        border-bottom: 13px solid darkblue;
    }

    #brand-bg {
        background-color: white;
        height: 80px;
        width: 7.5%;
        position: fixed;
        top: 34px;
        right: 0;
        left: 512px;
        bottom: 0;
        border: 1px solid white;
    }
    
    #brand {
        height: 90px;
        width: 90px;
        position: fixed;
        top: 17px;
        right: 0;
        left: 566px;
        bottom: 0;
    }
    
    .siteTitle {
        display: block;
        position: fixed;
        width: 15%;
        border-right: 1px solid blue;
        top: 52px;
        left: 793px;
    }
    
    #platform, #researchpro {
        display: flex;
    }
    
    #mainNav {
        display: flex;
        position: fixed;
        list-style: none;
        top: 62px;
        left: 1211px;
    }
    
    .navlinks {
        padding: 20px;
        padding-left: 6em; 
        text-indent: -2em;
    }
    
    .link {
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
        color: black;
    }
    
    #header-mobile {
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    #header-desktop {
        display: none;
    }

    #header-mobile {
        display: block;
    }

    .parallax {
        display: none;
    }
}

.parallax {
    /* The image used */
    background-image: url("../../images/banners/banner1.png");
  
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text {
    color: white;
}

#plxText-top {
    font-weight: bolder; 
    font-size: 2rem;
    position: fixed;
    top: 220px;
    left: 146px;
}

#plxText-bottom {
    position: fixed;
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
    top: 300px;
    left: 146px;
}

.plxTop-text {
    padding: 70px 0 0 190px;
}

#parallax-bottom {
    /* The image used */
    background-image: url("../../images/whoWeAre/fractal.png");
  
    /* Set a specific height */
    min-height: 300px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plxBottom-text {
    padding-top: 80px;
}

#commitment, #commitmentP {
    color: white;
}

#commitment, #wealth {
    font-weight: bolder;
    font-size: 1.5rem;
    padding-bottom: 7px;
}

#commitmentP, #wealthP, {
    font-size: 1rem;
    font-family: 'Times New Roman', serif;
}

#insightsText-bottom, #eventsText-bottom {
    font-size: .8rem;
    font-family: 'Times New Roman', serif;
}

/* insights */
#insights {
    height: 60vh;
}

#events {
    height: 50vh;
}

/* cards */
.card {
    height: 100%;
}

.insightsCard-img {
    clip-path: 
    polygon(
      0% 35%,     /* top left */
      25% 0%,     /* top left */
      95% 0%,    /* top right */
      100% 0%,   /* top right */
      100% 65%,  /* bottom right */
      75% 100%,  /* bottom right */
      0% 100%,   /* bottom left */
      0 100%      /* bottom left */
    );
}

#global-factor {
    color: blue;
    font-weight: bolder;
    font-size: 1.5rem;
}

#outlook {
    color: green;
    font-weight: bolder;
    font-size: 1.5rem;
}

#capmark {
    color: lightblue;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* events */
.parent {
	position: relative;
}

.eventsDiv {
	position: absolute;
	z-index: 1;
	background-color: #2d3fe6;
	clip-path: 
    polygon(
        5% 0, 
        5% 6%, 
        100% 6%, 
        100% 89%, 
        11% 89%, 
        4% 100%, 
        0 100%, 
        0 6%);
	height: 270px;
	width: 350px;
}

.square {
	position: absolute;
	z-index: 2;
	background-color: #000c79;
	height: 70px;
	width: 90px;
	top: 0;
	left: 15px;
}

.insights-div {
    margin-top: 80px;
}

/* footer */
#footer {
    height: 120px;
    width: 100%;
    background-color: rgba(36, 16, 82, 0.3);
    color: white;
}